@import url('https://fonts.googleapis.com/css2? family= Asap & display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Asap', sans-serif;
}
.navbar {
  background-color: light;
  padding: 1rem 2rem;
  border-bottom: 1px solid gray;
}

.flex{
  display: flex;

}

.sidebar{
  background-color:#2196f5 ;
  width: auto;
  height: calc(116vh);
  border-right: 1px solid gray;
  ul{
    list-style: none;
    padding: 1rem 2rem;
    li{
      margin-bottom: 1rem;
      a{
        text-decoration: none;
        &.active{
          background-color: #c0c0c0;
        }
      }
    }
  }
}